@using Microsoft.Azure.CognitiveServices.Vision.ComputerVision.Models
@model ImageAnalysis

<div id="result" class="card mx-auto mt-2 card-shadow">
    <img id="mypic" class="card-img-top" src="https://agazia.net/assets/img/hero-bg.jpg" alt="Card image cap">
    <div class="card-body text-center">
        @foreach (var caption in @Model.Description.Captions)
        {
            <p class="card-text">@caption.Text</p>
        }
    </div>
</div>
