@model ImageAnalysisVM

@{
    ViewData["Title"] = "Home Page";
}

<div id="uploadsection">
    <div class="alert h5 alert-info shadow-sm text-center">Ein KI-Dienst, der Inhalte in Bildern analysiert.</div>
    <fieldset class="card-shadow border p-2">
        <legend class="w-auto">Bild analysieren</legend>
        <div class="px-3 mt-2">
            <form method="post" enctype="multipart/form-data">
                <div class="row mx-auto mb-2">
                    <div class="col-auto col-md-6 mx-auto">
                        <fieldset class="card-shadow border p-2">
                            <legend class="w-auto">Bild hochlagen</legend>
                            <div class="px-3 mt-2">
                                <div class="form-group">
                                    <input class="card p-2 w-100" id="inputpic" type="file" accept="image/*" />
                                    <small>Unterstützte Bilddatei: "jpeg, png, gif", maximale Dateigröße: 5MB</small>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-auto col-md-6 mx-auto">
                        <fieldset class="card-shadow border p-2">
                            <legend class="w-auto">Url eingeben</legend>
                            <div class="px-3 mt-2">
                                <div class="form-group">
                                    <input asp-for="Url" class="card p-2 w-100" id="inputurl" type="text" />
                                    <small>Bild-URL hier eingeben!</small>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <div class="text-center">
                    <input type="button" class="btn btn-primary uploadpic" id="uploadpic" value="Bild analysieren" />
                    <input type="button" class="btn btn-danger deletepic" id="deletepic" value="Bild löschen" />
                </div>
            </form>
        </div>
    </fieldset>
</div>

<div id="res">
    <partial name="_Result" model="@Model" />
</div>





<!-- Modal -->
<div class="modal fade" id="loadingModal" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content p-3">
            <div id="modal-content" class="text-center">
                <div class="spinner-border" role="status">
                </div>
                <h4>Das Bild wird analysiert</h4>
                <p>Bitte um etwas Geduld!</p>
            </div>
        </div>
    </div>
</div>
