@model ImageAnalysisVM

@{
    ViewData["Title"] = "Home Page";
}

<div id="uploadsection">
    <div class="alert h5 alert-info shadow-sm text-center">Ein KI-Dienst, der Inhalte in Bildern analysiert.</div>
    <fieldset class="card-shadow border p-2">
        <legend class="w-auto">Bild analysieren</legend>
        <div class="px-3 mt-2">
            <form method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <input class="card p-2" id="inputpic" type="file" accept="image/*" />
                    <small>Unterstützte Bilddatei: "jpeg, png, gif", maximale Dateigröße: 5MB</small>
                </div>
                <input type="button" class="btn btn-sm btn-primary uploadpic" id="uploadpic" value="Hochladen" />
                <input type="button" class="btn btn-sm btn-danger deletepic" id="deletepic" value="Löschen" />
            </form>
        </div>
    </fieldset>
</div>

<div id="res">
    <partial name="_Result" model="@Model" />
</div>





<!-- Modal -->
<div class="modal fade" id="loadingModal" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content p-3">
            <div id="modal-content" class="text-center">
                <div class="spinner-border" role="status">
                </div>
                <h4>Das Bild wird analysiert</h4>
                <p>Bitte um etwas Geduld!</p>
            </div>
        </div>
    </div>
</div>
